.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 10px;
}

.form-custom {
    width: 100%;
    display: flex;
    flex-direction: column; /* Asegurarse de que los elementos dentro del formulario se dispongan en columna */
}

.input-custom {
    width: 100;
}